In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.head(10))

       Name  Age  Income  Gender
0    Hannah   25   50000  Female
1  Ravindra   30   55000    Male
2  Surendra   35   60000    Male
3      Ruby   28   52000  Female
4       Eve   40   65000  Female
5     Frank   45   70000    Male
6     Grace   50   75000  Female
7    Arvind   60   80000    Male

In [2]:
print(df.describe())

             Age        Income
count   8.000000      8.000000
mean   39.125000  63375.000000
std    12.028983  11005.680352
min    25.000000  50000.000000
25%    29.500000  54250.000000
50%    37.500000  62500.000000
75%    46.250000  71250.000000
max    60.000000  80000.000000

In [3]:
income = df.groupby('Gender')['Income'].describe()
print(income)

        count     mean           std      min      25%      50%      75%  \
Gender
Female    4.0  60500.0  11733.143938  50000.0  51500.0  58500.0  67500.0
Male      4.0  66250.0  11086.778913  55000.0  58750.0  65000.0  72500.0

            max
Gender
Female  75000.0
Male    80000.0

In [4]:
# Define the age bins (ranges)
bins = [20,30,40,50,60,100]
# Define labels for the bins (what we call these ranges)
labels = ['20-30','31-40','41-50','51-60','60+']

df['Age Group'] = pd.cut(df['Age'],bins=bins,labels=labels)
print(df)

       Name  Age  Income  Gender Age Group
0    Hannah   25   50000  Female     20-30
1  Ravindra   30   55000    Male     20-30
2  Surendra   35   60000    Male     31-40
3      Ruby   28   52000  Female     20-30
4       Eve   40   65000  Female     31-40
5     Frank   45   70000    Male     41-50
6     Grace   50   75000  Female     41-50
7    Arvind   60   80000    Male     51-60

In [5]:
income = df.groupby('Age Group')['Income'].describe()
print(income)

           count          mean          std      min      25%      50%  \
Age Group
20-30        3.0  52333.333333  2516.611478  50000.0  51000.0  52000.0
31-40        2.0  62500.000000  3535.533906  60000.0  61250.0  62500.0
41-50        2.0  72500.000000  3535.533906  70000.0  71250.0  72500.0
51-60        1.0  80000.000000          NaN  80000.0  80000.0  80000.0
60+          0.0           NaN          NaN      NaN      NaN      NaN

               75%      max
Age Group
20-30      53500.0  55000.0
31-40      63750.0  65000.0
41-50      73750.0  75000.0
51-60      80000.0  80000.0
60+            NaN      NaN

C:\Users\Atharv\AppData\Local\Temp\ipykernel_26172\2672945914.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  income = df.groupby('Age Group')['Income'].describe()